body {
    margin: 0;
    padding: 0;
}
.image_part {
  width: 170px;
  height: 91px;
  margin: 1px;
}

image {
    padding: 0;
    margin: 0;
}

.image_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
